.env
.env.*
!.env.example
!.env.production.example
vendor
node_modules
public/storage
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
coverage
*.log
.git
.gitignore
Dockerfile*
